.circulo {
  display: flex;
  text-align: center;
  vertical-align: middle;
  padding: auto;
  margin: auto;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  position: absolute;
  border-radius: 50%;
}

.circulo i {
  margin: auto;
  color: white;
  font-size: 40px;
}
