<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <header class="header">
        <h2>Alex</h2>

        </ul>
        </nav>
    </header>
    <main class="main">
        <aside class="aside">
            Lorem<br>/ ipsum dolor sit amet<br>/, consectetur adipisicing elit. <br>/Asperiores magnam q<br>/uia ad
            iste, dolore <br>/facere commodi distinctio at <br>/illum quisquam cum o<br>/dit ab, ratione<br>/
            fugiat,<br>/ officia voluptatem <br>/necessitatibus alias eum?<br>/
        </aside>
        <section class="content">
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem debitis nulla reprehenderit
                culpa architecto fuga deserunt quos repellat officia ut magni quibusdam earum, aliquam, vitae dicta
                blanditiis excepturi! Neque, dolorum.
            </p>
        </section>
    </main>
    <footer class="footer">
        <p>About us</p>
    </footer>
</body>

</html>